In [ ]:
# converting dataframes retrived from mongodb to structured tables



import psycopg2 as psycopg2

capstone = psycopg2.connect(host='localhost',user='postgres',password='***',port=5432,database='****')
cursor = capstone.cursor()



def creating_channel_table():
    channel_table = channel_info_df()
    cursor.execute('DROP TABLE IF EXISTS channel CASCADE')
    cursor.execute('CREATE TABLE IF NOT EXISTS channel(Channel_Id VARCHAR(250), Channel_Name VARCHAR(100), Channel_Type VARCHAR(150), Channel_Views INT, Channel_Description VARCHAR(200), Channel_Status VARCHAR(50))')

    query1 = 'INSERT INTO channel(Channel_Id, Channel_Name, Channel_Type, Channel_Views, Channel_Description, Channel_Status) VALUES (%s, %s, %s, %s, %s, %s)'

    for index, row in channel_table.iterrows():
        values = (
            row['Channel_Id'],
            row['Channel_Name'],
            row['Channel_Type'],
            row['Channel_Views'],
            row['Channel_Description'],
            row['Channel_Status']
        )
        cursor.execute(query1, values)

    capstone.commit()

creating_channel_table()


cursor.execute('SELECT * FROM channel')
rows = cursor.fetchall()

for row in rows:
    print(row)

# cursor.close()
# capstone.close()

def create_channel_playlist():
    channel_playlist = playlist_to_df()
    cursor.execute('DROP TABLE IF EXISTS playlist CASCADE')
    cursor.execute('''CREATE TABLE IF NOT EXISTS playlist(
                                    Channel_name VARCHAR(255),
                                    Playlist_id VARCHAR(255),
                                    Channel_id VARCHAR(255)
                    )''')
    query2 = '''INSERT INTO playlist (Channel_name, Playlist_id, Channel_id) VALUES (%s, %s, %s)'''

    for index, row in channel_playlist.iterrows():
        values = (
            row['Channel_Name'],
            row['Playlist_Id'],
            row['Channel_Id']
        )
        cursor.execute(query2, values)

    capstone.commit()




cursor.execute('SELECT * FROM playlist')
rows = cursor.fetchall()


for row in rows:
    print(row)

# cursor.close()
# capstone.close()
create_channel_playlist()


def creating_video_table_details():
    video_table_details = video_to_df()
    cursor.execute('DROP TABLE IF EXISTS video CASCADE')
    cursor.execute('CREATE TABLE IF NOT EXISTS video(Channel_Name varchar(100), Video_Id varchar(100),Playlist_Id varchar(250),Video_Name text, Video_Description text,Published_Date timestamp, View_Count int, Like_Count int, Dislike_Count int, Favourite_Count int, Comment_Count int, Duration varchar(250), Thumbnail varchar(250),	Caption_Status varchar(250))')

    query3= 'insert into video(Channel_Name,Video_Id, Playlist_Id, Video_Name, Video_Description, Published_Date, View_Count, Like_Count, Dislike_Count, Favourite_Count, Comment_Count, Duration, Thumbnail, Caption_Status) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'


    for index, row in video_table_details.iterrows():
        values = (
            row['Channel_Name'],
            row['Video_Id'],  # Corrected column name
            row['Playlist_Id'],
            row['Video_Name'],
            row['Video_Description'],
            row['Published_Date'],
            row['View_Count'],
            row['Like_Count'],
            row['Dislike_Count'],
            row['Favourite_Count'],
            row['Comment_Count'],
            row['Duration'],
            row['Thumbnail'],
            row['Caption_Status']

        )
        cursor.execute(query3, values)

    capstone.commit()

creating_video_table_details()
cursor.execute('SELECT * FROM video')
rows = cursor.fetchall()

for row in rows:
    print(row)

# cursor.close()
# capstone.close()

#
#
#
#
def creating_table_for_comments():
    table_for_comments = comments_to_df()
    cursor.execute('DROP TABLE IF EXISTS comment CASCADE')
    cursor.execute('CREATE TABLE IF NOT EXISTS comment(Channel_Name varchar(100), Comment_Id varchar(250), Video_Id varchar(250), Comment_Text text, Comment_Author varchar(250), Comment_PublishedAt timestamp)')

    query4 = 'insert into comment(Channel_Name, Comment_Id, Video_Id, Comment_Text, Comment_Author, Comment_PublishedAt) values(%s,%s,%s,%s,%s,%s)'

    for index, row in table_for_comments.iterrows():
        values = (
            row['Channel_Name'],
            row['Comment_Id'],
            row['Video_Id'],
            row['Comment_Text'],
            row['Comment_Author'],
            row['Comment_PublishedAt']

        )
        cursor.execute(query4, values)

    capstone.commit()

creating_table_for_comments()
cursor.execute('SELECT * FROM comment')
rows = cursor.fetchall()

for row in rows:
    print(row)

# cursor.close()
# capstone.close()


# def delete_playlist_data():
#     cursor = capstone.cursor()
#
#     # Delete all rows from the playlist table
#     cursor.execute('DELETE FROM playlist')
#
#     capstone.commit()
#
#     cursor.close()
#     capstone.close()
#
# delete_playlist_data()